<div class="max-w-sm p-6 rounded-lg shadow bg-gray-800/80">
    <h5 class="mb-2 text-2xl font-bold text-gray-900 text-white">{{ product.name }}</h5>
    <hr class="border-gray-300 border-2 my-2 rounded-sm">
    <p class="mb-3 text-gray-300">
        {{ product.description }}
    </p>

    <hr class="border-gray-300 my-2 rounded-sm">
    <div class="flex">
      <p class="mb-3 text-gray-300">
        Stock: {{ product.stock }}
      </p>
      <p class="mb-3 text-gray-300 ml-auto">
        Rp{{ product.price }}
      </p>
    </div>
    <hr class="border-gray-300 mb-2 rounded-sm">

    <div class="flex space-x-4 mt-auto">
      <a href="{% url 'main:edit_product' product.pk %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Edit
      </a>
      <a href="{% url 'main:delete_product' product.pk %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        Delete
      </a>
    </div>
  </div>