{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
  <div class="bg-[#489CC1]/50 rounded-lg shadow-md w-full max-w-md">
    <h1 class="text-2xl font-bold mt-4 mb-6 text-center">Login</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <table class="w-full">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="username" class="sr-only">Username</label>
            <input id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username">
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
          </div>
        </div>
        <tr>
          <td colspan="2" class="text-center">
            <input
              class="w-full py-2 px-4 bg-green-700 mt-6 text-white w-32 rounded-lg hover:bg-green-800 transition"
              type="submit" value="Login" />
          </td>
        </tr>
      </table>
    </form>

    {% if messages %}
    <ul class="mt-4 text-red-600">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="my-6 text-center">
      Don't have an account yet? <a href="{% url 'main:register' %}" class="text-green-700 hover:text-green-800 font-semibold">Register Now</a>
    </div>
  </div>
</div>
{% endblock content %}
