{% extends 'base.html' %} 
{% block content %}
{% include 'navbar.html' %}


<div class="flex justify-center space-x-[3rem] md:space-x-[20rem] m-6 mb-10 text-white">
  <div class="flex bg-gray-700/80 rounded-md p-2">
    <h5 class="font-semibold">Name:</h5>
    <p class="ml-2">{{ nama }}</p>
  </div>

  <div class="flex bg-gray-700/80 rounded-md p-2">
    <h5 class="font-semibold">Class:</h5>
    <p class="ml-2">{{ kelas }}</p>
  </div>
</div>


{% if not product_entries %}
  <div class="flex flex-col items-center justify-center">
    <p class="font-bold text-center mb-6">Produk belum tersedia 😢.</p>
    <img src="https://media.tenor.com/l3BF03rFfh0AAAAM/bestcry-sad.gif" alt="crying man gif" class="rounded-full">
  </div>
{% else %}
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 break-words">
    {% for product in product_entries %}
      <div class="max-w-sm p-6 rounded-lg shadow bg-gray-800/80">
        <h5 class="mb-2 text-2xl font-bold text-gray-900 text-white">{{ product.name }}</h5>
        <hr class="border-gray-300 border-2 my-2 rounded-sm">
        <p class="mb-3 text-gray-300">
            {{ product.description }}
        </p>

        <hr class="border-gray-300 my-2 rounded-sm">
        <div class="flex">
          <p class="mb-3 text-gray-300">
            Stock: {{ product.stock }}
          </p>
          <p class="mb-3 text-gray-300 ml-auto">
            Rp{{ product.price }}
          </p>
        </div>
        <hr class="border-gray-300 mb-2 rounded-sm">

        <div class="flex space-x-4 mt-auto">
          <a href="{% url 'main:edit_product' product.pk %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Edit
          </a>
          <a href="{% url 'main:delete_product' product.pk %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
            Delete
          </a>
        </div>
      </div>
      
    {% endfor %}
  </div>  
{% endif %}
  <br />
  <div class="flex justify-center">
    <a href="{% url 'main:create_product_entry' %}">
      <button class="bg-[#489CC1] text-white rounded-lg px-6 py-2 font-bold hover:bg-blue-100 hover:text-[#489CC1] transition duration-200 ease-in-out cursor-pointer">
        Add New Product
      </button>
    </a>
  </div>
  

  <h5 class="mt-5 ml-8">Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
